html
  head
    link(href='/css/style.css', rel='stylesheet')
    title!= audioUrl
  body(style={background: 'black'})
  #content
    form(action!=audioUrl)
      input(type="submit", value="click to listen")
